body{
    background-image: url(laspinas1.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row{
    text-align: center;
    margin: auto;
    justify-content: center;
    gap: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

.contact{
  width: 25%;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 15px;
  text-align: left;
}

textarea{
	width: 330px;
	height: 90px;
	border-radius: 6px;
	padding: 6px;
}

input[type="text"]{
	width: 330px;
	height: 40px;
	border-radius: 6px;
  border-color: #808080;
  padding-left: 5px;
}